header:has(+ div > .information-page),
header:has(+ div > .events-page),
header:has(+ div > .status-page) {
    display: none;
}

div:has(.information-page),
div:has(.events-page),
div:has(.status-page) {
    padding: 0;
}
